.expense {
  display: grid;
  grid-template-columns: 60% auto auto;
  max-width: 100%;
}
.expense > input {
  margin: auto .5rem;
  min-width: 0rem;
}
.expense > span {
  text-align: left;
  font-size: 2.5rem;
  font-weight: bold ;
}