.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  border-radius: 5px;
  border:none;
  padding: 0.5rem 1rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button:active {
  box-shadow: none;
}
.topBar {
  display: flex;
  justify-content: flex-start;
  grid-column: 1 / -1;
  background-color: rgb(203, 238, 162);
  margin: 0;
  padding: 0.5rem;
}
.topBar > .menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-left: 1rem;
}
.topBar > .menu > button {
  background-color: rgb(203, 238, 162);
  padding: 0.5rem 1.25rem;
  border: 1px solid black;
  font-size: 1rem;
  margin: auto;
}
.topBar > .menu > button:hover {
  background-color: rgb(177, 243, 119);
}
.topBar > .menu > button:active {
  color:black;
  transition: ease-out .1s;
  transform: scale(1.05)
}
.container {
  display: grid;
  grid-template-columns: 3fr repeat(2, 4fr);
  width: 95%;
  margin: auto auto 2rem auto;
  gap: 0.5rem;
}
.container > div:last-child {
  grid-column: 1 / -1;
}
.box,
.box2,
.box3 {
  height: 350px;
  background-color: #ffffff;
  margin-top: 1rem;
  border-radius: 5px;
}
