@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  border-radius: 5px;
  border:none;
  padding: 0.5rem 1rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button:active {
  box-shadow: none;
}

.container {
  display: grid;
  grid-template-columns: 3fr repeat(2, 4fr);
  width: 95%;
  margin: auto auto 2rem auto;
  gap: 0.5rem;
}
.container > div:last-child {
  grid-column: 1 / -1;
}
.box,
.box2,
.box3 {
  height: 350px;
  background-color: #ffffff;
  margin-top: 1rem;
  border-radius: 5px;
}
