.tContainer {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}
.tableControls {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: 1rem auto;
  justify-content: flex-start;
}
.tableControls h2 {
  margin: 0;
  padding: 0 1rem 0 0;
}
.tableControls > button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: rgb(209, 255, 168);
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  padding: 0;
}
.tableControls > button:hover {
  background-color: rgb(177, 243, 119);
  transition: ease-out background-color 0.2s;
}
.transactionTable {
  overflow-x: scroll;
}
.transactionTable > table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  background-color: #fefefe;
  border-radius: 5px;
}
.transactionTable > table tr {
  border-bottom: 1px #cbcbcb solid;
}
.transactionTable > table tbody tr:hover {
  background-color: #f7f7f7;
}
th {
  font-weight: bold;
}
th,
td {
  text-align: left;
  padding: 0.5rem 1rem;
  text-overflow: ellipsis;
}
th:first-child,
td:first-child {
  width: 1rem;
}
th:last-child,
td:last-child {
  text-align: right;
  padding-right: 1rem;
}
td > .rowControls {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
td > .rowControls > button {
  background-color: white;
  padding: 0.5rem 0.25rem;
  border-radius: 3px;
  padding: 0.5rem 0.25rem;
  margin: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 5rem;
  flex: 1 1 1;
  border: 1px solid black;
}
td > .rowControls > button:first-child {
  background-color: rgb(220, 243, 245);
}
td > .rowControls > button:last-child {
  background-color: rgb(255, 185, 185);
}
td > .rowControls > button:first-child:hover {
  background-color: rgb(146, 228, 255);
  transition: ease-out background-color 0.2s;
}
td > .rowControls > button:last-child:hover {
  transition: ease-out background-color 0.2s;
  background-color: rgb(255, 86, 86);
}
