@import url(../../colors.css);
.table-container {
  position: relative;
  background-color: var(--bkg);
  padding: 1rem 0;
  margin-top: 1rem;
  border-radius: 5px;
}
.table-controls {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: 1rem auto;
  justify-content: flex-start;
  align-items: center;
}
.table-controls h2 {
  margin: 0;
  padding: 0 1rem 0 0;
}
.table-controls > button {
  position: absolute;
  right: 0rem;
  top: 1.5rem;
  background-color: var(--secondary);
  color: var(--on-secondary);
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  padding: 0;
}
.table-controls > button:hover {
  background-color: var(--secondary-alt);
  transition: ease-out background-color 0.2s;
}
.row-controls .btn-edit {
  border-radius: 5px 0 0 5px;
}
.row-controls .btn-delete {
  border-radius: 0 5px 5px 0;
}
.transaction-table {
  overflow-x: scroll;
}
.transaction-table > table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  background-color: var(--bkg);
  border-radius: 5px;
}
.transaction-table > table tr {
  border-bottom: 1px #cbcbcb solid;
}
.transaction-table > table tbody tr:hover {
  background-color: var(--primary-alpha);
}
th {
  font-weight: bold;
  background-color: var(--primary-alt);
  color: var(--on-primary);
}
th,
td {
  text-align: left;
  padding: 0.5rem 1rem;
  text-overflow: ellipsis;
}
th:first-child,
td:first-child {
  width: 1rem;
}
th:last-child,
td:last-child {
  text-align: right;
  padding-right: 1rem;
}
