input {
  font-family: montserrat;
  font-size: 1rem;
  background-color: rgb(244, 247, 244);
  border: 1px #e0e0e0 solid;
  border-radius: 8px;
  margin:0.5rem;
  padding: 0.75rem 1rem;
  max-height: 1.5rem;
  min-height: 1rem;
}
input:focus {
  color: rgb(56, 56, 56);
}
