@font-face{
  font-family: montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf)
}
@font-face{
  font-family: montserrat-thin;
  src: url(../fonts/Montserrat/Montserrat-Thin.ttf)
}
body {
  font-family: montserrat-thin;
  background-color: #F7F7F7;
  box-sizing: border-box;
  font-size: .9em;
  margin: 0em;
  min-width: 32em;

}
h1 {
  margin:0em;
}
.appHead {
  background-color:#e0e0e0;
  color:black;
  margin-bottom: .8em;
  padding: 1em 2em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
}

.grid-wrapper {
  font-family: montserrat;
  min-width: 32em;
  padding:1em;
  background-color: #e9e9e9;
  display: grid;
  grid-template-columns: 35% repeat(1, 1fr);
  border-radius: 20px;
  margin: 0em 1em;
}
#inputGrid {
  margin-bottom: 1em;
}
#outputGrid {
  grid-template-columns: 1fr;
  background-color: transparent;
  padding:0em;
}

button {
  outline: none;
  font-family: montserrat;
  font-size: 1em;
  text-align:center;
  border-radius: 20px;
  border:none;
  padding: 0.5em;
  margin:1em 0.4em;
  max-height: 3em;
}
button:hover {
  cursor: pointer;
}
#btnCalc {
  background-color: #84ce99;
  color: #000000;
  /* color:#FFFFFF; */
}
#btnCalc:active { 
  background-color: #74b686;
}
#btnAdd{
  background-color: #84cebe;
  color: #000000;
}
#btnAdd:active{
  background-color: #79bdae;
}
#btnSave {
  background-color: #84b9ce;
  color:black;
  /* max-width: 15em; */
}
#btnSave:active{
  background-color: #78a8bb;
}

input[type="text"], input[type="number"], #scopeChoice{
  font-family: montserrat;
  font-size: 1em;
  background-color: #FAFAFA;
  color: #383838;
  outline:none;
  border:1px #E0E0E0 solid;
  border-radius: 20px;
  padding: 0.5em 1em;
  margin: 1em 0.4em;
  max-height: 1.5em;
  min-height: 1em;
}
input[type="text"]:focus, input[type="number"]:focus {
  border-radius: 20px;
  color: black;
  background-color: #fff8d3;
}
.singleCol {
  display: grid;
  grid-column: 1 / span 2;
}
.splitCol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.trisplitCol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#expenseList {
  display: grid;
  grid-column: 1 / span 2;
}
.expenseItem {
  display: grid;
  grid-template-columns: 10fr 9fr 1fr;
}
.expenseField {
  min-width: 12em;
}
.imgBtn{
  background-color:transparent;
  border: none;
  padding:0em;
  margin:1em 0em;
  color:#383838;
  outline: none;
}
.imgBtn:hover {
  cursor: pointer;
}
.imgBtn > img {
  width: 1em;
  height:auto;
}
.textLabel {
  margin: .8em 0em;
  padding: 0.5em;
}
.outputLabel {
  width: 12em;
  padding: 0em;
  margin: 1em 0em 1em 2em;
}
.outputWk, .outputMn, .outputYr{
  display: grid;
  grid-template-columns: 15em repeat(1, 1fr);
  margin: 0em 0em 1em 0em;
  background-color: #e9e9e9;
  padding: 1em;
  border-radius: 20px;
  max-height: 15em;
}
.hide {
  display: none;
}

@media (max-width: 888px) {
  #breakpoint{ 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}