@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: montserrat-thin;
  src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}
html {
  box-sizing: border-box;
}
body {
  font-family: montserrat-thin;
  background-color: rgb(244, 247, 244);
  color: rgb(56, 56, 56);
  font-size: 0.9em;
  margin: 0em;
}
h1 {
  margin: 0em;
  font-size: 1.2em;
  font-family: montserrat;
}
.appHead {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #84ce99;
  color: black;
  padding: 1em 2em;
  text-align: center;
  align-items: center;
}
.appBody {
  display: grid;
}
.grid-wrapper {
  display: grid;
  font-family: montserrat;
  padding: 1em;
  background-color: #fdfdfd;
  grid-template-columns: 100%;
}

.splitCol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.trisplitCol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#inputGrid {
  margin-bottom: 1em;
  box-shadow: 0 4px 8px 0 rgba(169, 169, 169, 0.25);
}
input[type="text"],
input[type="number"],
#scopeChoice {
  font-family: montserrat;
  font-size: 1em;
  background-color: rgb(244, 247, 244);
  outline: none;
  border: 1px #e0e0e0 solid;
  border-radius: 20px;
  padding: 0.5em 1em;
  margin: 1em 0em;
  max-height: 1.5em;
  min-height: 1em;
  min-width: 0px;
}
#scopeChoice {
  padding: 0em 1em;
  min-height: 2em;
}
input[type="text"]:focus,
input[type="number"]:focus {
  border-radius: 20px;
  color: rgb(56, 56, 56);
  background-color: rgba(252, 206, 78, 0.15);
}
#expenseList {
  display: grid;
}
.expenseItem {
  grid-template-columns: 50% 45% 5%;
  display: grid;
  width: 100%;
}
input.expenseField {
  margin-right: 0.5em;
}

#detailChoices {
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#detailChoices * {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* OUTPUT STYLING ============================================ */
#outputGrid {
  grid-template-columns: 1fr;
  background-color: transparent;
  padding: 0em;
  margin-top: 1em;
  max-height: 50em;
}
#outputGrid h3 {
  padding-left: 0.5em;
  margin-top: auto;
  grid-column: 1 / span 2;
}
.outputLabel {
  padding: 1em 0em;
}
.outputWk,
.outputMn,
.outputYr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fdfdfd;
  max-height: 100%;
  box-shadow: 0 4px 8px 0 rgba(169, 169, 169, 0.25);
  margin: 1em 0em;
  padding: 1em;
}

/* BUTTONS =================================================== */
button {
  background-color: inherit;
  outline: none;
  font-family: montserrat;
  font-size: 1em;
  text-align: center;
  border-radius: 20px;
  border: none;
  padding: 0.5em;
  margin: 1em 0.4em;
  box-shadow: 0px 5px 15px rgba(16, 16, 16, 0.3);
}
button:hover {
  cursor: pointer;
}
#btnCalc {
  background-color: rgb(132, 206, 153);
  color: rgb(56, 56, 56);
}
#btnCalc:active {
  background-color: #74b686;
}
#btnAdd {
  color: rgb(56, 56, 56);
  border: 1px rgb(56, 56, 56) solid;
  border-radius: 20px;
}
#btnAdd:active {
  background-color: rgb(230, 230, 230);
}
#btnSave {
  margin: 0em;
  color: white;
  background-color: #282828;
  /* background-color: rgb(175, 52, 33); */
  /* border: 1px rgb(175, 53, 33) solid; */
}
#btnSave:active {
  background-color: rgb(252, 101, 78);
}
.btnRm {
  box-shadow: none;
}
.imgBtn {
  background-color: transparent;
  border: none;
  padding: 0em;
  margin: 1em 0em;
  outline: none;
}
.imgBtn:hover {
  cursor: pointer;
}
.imgBtn > img {
  width: 1em;
  height: auto;
}

/* DYNAMIC ===================================================== */
/* needs to be last */
.hide {
  display: none;
}

/* BIGGER THAN IPHONE X */
@media (min-width: 420px) {
  .appHead {
    grid-template-columns: 75% 25%;
  }
  .grid-wrapper {
    grid-template-columns: 35% repeat(1, 1fr);
  }
  .singleCol {
    display: grid;
    grid-column: 1 / span 2;
  }
  .textLabel {
    padding: 1em 0em;
  }
  #expenseList {
    grid-column: 1 / span 2;
  }
  .expenseItem {
    width: 100%;
  }
}

/* BIGGER THAN IPAD PRO */
@media (min-width: 1024px) {
  .appHead {
    grid-template-columns: 90% 10%;
  }
  .appBody {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-wrapper {
    border-radius: 20px;
    margin: 0em 1em;
  }
  #inputGrid {
    margin-top: 1em;
  }
  input[type="text"],
  input[type="number"],
  #scopeChoice {
    margin: 1em 0.3em;
  }
  .outputWk,
  .outputMn,
  .outputYr {
    margin: 0em 0em 1em 0em;
    border-radius: 20px;
  }
  /* DYNAMIC ===================================================== */
  /* needs to be last */
  .third {
    max-height: 33%;
  }
}
